# caches
tests/integration/__pycache__/
.cache/
.mypy_cache/
.pytest_cache/

# build files
build/
venv/

# test temp files
tests/fixture/temp_file.txt
tests/fixture/does_not_exist.txt
tests/fixture/read_only.txt
This_is_a_really_really_really_really_really_really_really_really_long_file_name.txt

# other
compile_commands.json
src/version.h
iris.log
.gdb_history
